
body{
   background: rgb(219,219,230);
   background: linear-gradient(90deg, rgba(219,219,230,1) 0%, rgba(132,167,207,1) 100%);
}

.container1{
    width: 700px;
    height: 250px;
    border:2px solid gainsboro;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(220, 208, 116);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.rem{
    display: none;

}

