


.container1{
    width: 700px;
    height: 250px;
    border:2px solid gainsboro;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(255, 225, 0);
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.rem{
    display: none;

}

