

body{
    background-color: rgb(106, 137, 222);
}

.container1{
    width: 1000px;
    height: 250px;
    border:2px dotted gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



